---
http_interactions:
- request:
    method: get
    uri: http://www.youtube.com/oembed?format=json&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Db9XsTtFu64Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type": "video", "provider_name": "YouTube", "width": 480, "thumbnail_width":
        480, "height": 270, "title": "Dead Prez - Turn Off The Radio @ Dave Chappelle''s
        Block Party", "author_name": "InfamousBIG", "version": "1.0", "author_url":
        "https:\/\/www.youtube.com\/user\/InfamousBIG", "provider_url": "https:\/\/www.youtube.com\/",
        "thumbnail_height": 360, "html": "\u003ciframe width=\"480\" height=\"270\"
        src=\"https:\/\/www.youtube.com\/embed\/b9XsTtFu64Y?feature=oembed\" frameborder=\"0\"
        allowfullscreen\u003e\u003c\/iframe\u003e", "thumbnail_url": "https:\/\/i.ytimg.com\/vi\/b9XsTtFu64Y\/hqdefault.jpg"}'
      effective_url: http://www.youtube.com/oembed?format=json&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Db9XsTtFu64Y
  recorded_at: Sat, 29 Aug 2015 09:25:12 GMT
recorded_with: VCR 2.9.3
