---
http_interactions:
- request:
    method: get
    uri: http://www.youtube.com/oembed?format=json&maxheight=150&maxwidth=200&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D9bZkp7q19f0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"provider_name": "YouTube", "width": 200, "thumbnail_width": 480,
        "thumbnail_url": "https:\/\/i.ytimg.com\/vi\/9bZkp7q19f0\/hqdefault.jpg",
        "author_name": "officialpsy", "html": "\u003ciframe width=\"200\" height=\"113\"
        src=\"https:\/\/www.youtube.com\/embed\/9bZkp7q19f0?feature=oembed\" frameborder=\"0\"
        allowfullscreen\u003e\u003c\/iframe\u003e", "height": 113, "author_url": "https:\/\/www.youtube.com\/user\/officialpsy",
        "version": "1.0", "thumbnail_height": 360, "type": "video", "provider_url":
        "https:\/\/www.youtube.com\/", "title": "PSY - GANGNAM STYLE (\uac15\ub0a8\uc2a4\ud0c0\uc77c)
        M\/V"}'
      effective_url: http://www.youtube.com/oembed?format=json&maxheight=150&maxwidth=200&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D9bZkp7q19f0
  recorded_at: Sat, 29 Aug 2015 09:24:30 GMT
recorded_with: VCR 2.9.3
